<div style="padding: 10px">

	<h2><%=mw3.localize("newInstancePanel.StartNewProjectWithProcess")%></h2>
		<%=mw3.localize("newInstancePanel.StartNewProjectWithProcess.detail")%>
		<%=fields.processMapPanel.here()%>

	<h2><%=mw3.localize("newInstancePanel.StartNewConversation")%></h2>
		<%=mw3.localize("newInstancePanel.StartNewConversation.detail")%>
		<%=fields.newInstantiator.here()%>

</div>