<%
	if(value){
%>

	<div class="depth1">
		<div class="fist_menu">
				<ul>
					<li class="selected_navi"><a onClick="<%=methods.loadAllICanSee.caller()%>" href="#"><span class="icon-feed left_menu_icon"></span><span class="left_menu_text"><%=mw3.localize("$All")%></span></a></li>
<!--					<li><a onClick="<%=methods.loadAll.caller()%>" href="#"><span class="icon-users left_menu_icon"></span><span class="left_menu_text"><%=mw3.localize("$Following")%></span></a></li>
					<li><a onClick="<%=methods.loadInbox.caller()%>" href="#" ><span class="icon-drawer2 left_menu_icon"></span><span class="left_menu_text"><%=mw3.localize("$ToDo")%></span></a></li>
					<li><a onClick="<%=methods.loadRequest.caller()%>" href="#"><span class="icon-pen left_menu_icon"></span><span class="left_menu_text"><%=mw3.localize("$StartedbyMe")%></span></a></li>
					<li><a onClick="<%=methods.calendar.caller()%>" href="#"><span class="icon-calendar left_menu_icon"></span><span class="left_menu_text"><%=mw3.localize("$Calendar")%></span></a></li>  -->
				</ul>
		<div>			
	</div>


<%
	}
%>