<div>
    <div style="position: relative; left: 0;  width: 700px; height: 400px; background-color: #f6f6f6;overflow:auto;">
        <div id="<%=value.mappingTreeLeft.id%>" style="width:200px; height: 400px; float: left; background-color: #f6f6f6;" align="left"><%= fields.mappingTreeLeft.here()%></div>
        <%= fields.mappingCanvas.here() %>
        <div id="<%=value.mappingTreeRight.id%>" style="width:200px; height: 400px; float: left; background-color: #f6f6f6;" align="left"><%= fields.mappingTreeRight.here()%></div>
    </div>
</div>