<td class="diagram_icon table td" style="width:70px; padding:7px; vertical-align:middle;">
	<img src="resources/images/symbol/<%=value.shapeId%>.png" title="<%=value.name%>"
	 _shape_type="<%=value.shapeType%>"
	 _shape_id="<%=value.shapeId%>" 
	 _width="<%=value.width%>" 
	 _height="<%=value.height%>" 
	 _viewclassname="<%=value.elementClassName%>" />
</td>
<td style="vertical-align:middle;">
	<%=value.name%>
</td>