<table width="100%"><td>

<%
	if(value){
%>
<%=here("valueSelector")%>


<%=fields.workItem.here({when:'view'})%>

		<%
		if(mw3.when != 'view' && mw3.where =='detail'){
		%>
		<hr>
		<div class="btn-group" role="group" align="right">
			<%=methods.complete.here()%>
			<%=methods.save.here()%>
		</div>
		<div class="btn-group" role="group" align="right">
			<%=methods.cancel.here()%>
			<%=methods.skip.here()%>
		</div>
		<div class="btn-group" role="group" align="right">
			<%=methods.accept.here()%>
			<%=methods.delegate.here()%>
		</div>

		<%
		}
		}
		%>


	</td></table>