<%
	if(value){
%>
		<div>
			<ul class="process_map2 allApp">
				<li onClick="<%=methods.goSNS.caller()%>">
                    <img src="images/waveStyle/app_social.png" height="64px">
                    <div style="text-align:center"><%=mw3.localize("$AppList.SNS")%></div>
                </li>
                <li onClick="<%=methods.goProcessAdmin.caller()%>">
                    <img src="images/social-bpm/app-process-admin.png"  height="64px">
                    <div style="text-align:center"><%=mw3.localize("$AppList.ProcessAdmin")%></div>
                </li>
                <li onClick="<%=methods.goMarketplace.caller()%>">
                    <img src="images/social-bpm/app_marketplace.png" height="64px">
                    <div style="text-align:center"><%=mw3.localize("$Marketplace")%></div>
                </li>
			</ul>
		</div>

<%
	}
%>