<% 
    if(value){
        var displayName = value.displayName;
%>
        <table>
            <tr>
                <th style="width:200px;">웹서비스 Url 직접입력</th>
                <td><%= fields.webserviceUrl.here() %></td>
                <td><input type="button" value="select" onClick="<%=methods.refresh.caller()%>" /></td>
            </tr>
            <tr>
                <th>등록된 앱에서 검색</th>
                <td><input type="text" id="rrc_<%=objectId%>" readonly value="<%=displayName%>" class="form-control input-sm"/></td>
                <td><input type="button" value="select" onClick="<%=methods.openPicker.caller()%>" /></td>
            </tr>
        </table>
<%  
    }
%>