<% if(value){ %>
	<ul>
	
    <% if(mw3.how == 'list'){ %>
        <%=fields.name.here()%>
        <%=fields.displayName.here()%>
        <%=fields.defaultValue.here()%>
    <% }else if(mw3.how == 'setting'){ %>
        <%=include("dwr/metaworks/genericfaces/FormFace.ejs")%>
    <% }else if(mw3.how == 'menu'){ %>
        <li class="dragPossible_<%=objectId%>" style="cursor: pointer; padding-bottom:5px;">
            <%=value.displayName ? value.displayName.text : value.name%>
        </li>
    <% }else{%>
        <%=value.name%>
    <% }%>
    
    </ul>
<% }%>
