<%
	if(value){
%>
<%
		if(value.session.ux == 'phone'){
%>
			<div class="top_panel_mobile_menu"><span class="icon-menu2"></span></div>
		<!--	<div class="top_panel_mobile_friend"><span class="icon-user"></span></div> -->
<%
}
%>
			
			<div class="top_panel_location"></div>
			<div class="top_panel_apps">
				<span class="glyphicon glyphicon-th app_icon" style="color: #fff;" onClick="<%=methods.showApps.caller()%>" title="Apps">
				</span></div>
			<div class="top_panel_pic"><%=fields.loginUser.here({when: 'self_small'})%></div>
		 	<div class="top_panel_object"><%=fields.notificationBadge.here()%></div>
		 	<div class="top_panel_object"><%=fields.todoBadge.here()%></div>
		 	<!--<div class="top_panel_search"><%=fields.topSearchBox.here()%></div>-->
		 	<div class="top_panel_app"><%=fields.topMenuPanel.here()%></div>
		 	
		 	<%=fields.topCenterPanel.here()%>
		 	
		 	<!--
			<div class="info">
				<div style="float:left;padding-top:10px; margin-right:5px; width:80px">
					<%=fields.company.here({when: 'logo'})%>
				</div>
			</div>
			-->
		    <%=fields.session.here({when:'view'})%>
		    
			<div class="clear"></div>
<%
	}
%>