
<%
	if( value ){
%>
	<%
		if( value.id == 'in' ){
	%>
		<div>
		    <div style="position: relative; left: 0;  height: 400px; background-color: #f6f6f6;overflow:auto;">
		        <div id="<%=value.mappingTree.id%>" style="width:200px; height: 400px; float: left; background-color: #f6f6f6;" align="left"><%= fields.mappingTree.here()%></div>
		        <%= fields.mappingCanvas.here() %>
		        <div id="<%=value.classResourceTree.id%>" style="width:200px; height: 400px; float: left; background-color: #f6f6f6;" align="right"><%= fields.classResourceTree.here()%></div>
		    </div>
		</div>
	<%
		} else if( value.id == 'out' ){
	%>
		<div>
		    <div style="position: relative; left: 0;   height: 400px; background-color: #f6f6f6;overflow:auto;">
		        <div id="<%=value.classResourceTree.id%>" style="width:200px; height: 400px; float: left; background-color: #f6f6f6;" align="left"><%= fields.classResourceTree.here()%></div>
		        <%= fields.mappingCanvas.here() %>
		        <div id="<%=value.mappingTree.id%>" style="width:200px; height: 400px; float: left; background-color: #f6f6f6;" align="left"><%= fields.mappingTree.here()%></div>
		    </div>
		</div>
	<%
		}	
	%>
<%
	}	
%>