<% if(value.editor){ %>
    <% if(value.new || mw3.when == 'Rename'){ %>
        <%= fields.resourceName.here({when: 'edit'}) %>
    <% }else{ %>
        <h3 style="margin-top:0px"><%= value.resourceName %></h3>
    <% } %>

<div class="btn-group" role="group">

<%= methods.save.here() %>
<%= methods.saveAs.here() %>
<%= methods.rename.here() %>
<%= methods.moveTo.here() %>
<%= methods.download.here() %>
<%= methods.upload.here() %>
<%= methods.delete.here() %>

</div>

<div class="btn-group" role="group">
    <%= methods.simulate.here() %>
    <%= methods.validate.here() %>
</div>

<br><br>

<%= fields.editor.here() %>
<% } %>

