<% if(value.editor){ %>
    <% if(value.new || mw3.when == 'Rename'){ %>
        <%= fields.resourceName.here({when: 'edit'}) %>
    <% }else{ %>
        <%= value.resourceName %>
    <% } %>

<div class="btn-group" role="group">

<%= methods.save.here() %>
<%= methods.saveAs.here() %>
<%= methods.rename.here() %>
<%= methods.moveTo.here() %>
<%= methods.download.here() %>
<%= methods.upload.here() %>
<%= methods.delete.here() %>

</div>

<%= fields.editor.here() %>
<% } %>

