<% if(value.editor){ %>
<h1>
    <% if(value.new || mw3.when == 'Rename'){ %>
    <%= fields.resourceName.here({when: 'edit'}) %>
    <% }else{ %>
    <%= value.resourceName %>
    <% } %>
</h1>

<%= methods.save.here() %>
<%= methods.saveAs.here() %>
<%= methods.rename.here() %>
<%= methods.moveTo.here() %>
<%= methods.download.here() %>
<%= methods.upload.here() %>
<%= methods.delete.here() %>

<p><br>

<%= fields.editor.here() %>
<% } %>

