<table width="100%">
    <tr><td><%=fields.processModeler.here()%></td></tr>
    <tr><td><%=fields.clipboard.here()%></td></tr>
</table>

<%=fields.fileName.here()%>
<%=methods.load.here()%>
<%=methods.save.here()%>
<<<<<<< HEAD

=======
>>>>>>> c85c3036a4c18b8ee81f7cf8af970f013d8bf07e
<%=fields.processVariablePanel.here()%>