<table width="100%">
    <tr><td><%=fields.processModeler.here()%></td></tr>
    <tr><td><%=fields.clipboard.here()%></td></tr>
</table>

<%=fields.fileName.here()%>
<%=methods.load.here()%>
<%=methods.save.here()%>

<%=fields.processVariablePanel.here()%>